






@charset "UTF-8";
.navigation {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif,'Roboto';
  height: 70px;
  background: white;
  padding-right:0px
  padding-bottom:19px;
 
}

.brand {
  position: absolute;
 padding-top:10px;
  float: left;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 2.6em;
}
body{
margin:none;padding:none;

}
.brand a,
.brand a:visited {
  color: black;
  text-decoration: none;
}



nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 18px;
  line-height: 70px;
  background: white;
  color: black;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background:red;
  color: white;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;

}
nav ul li ul li {
  min-width: 150px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 930px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
  input[type=text] {
    width: 100%;
}
}
@media screen and (min-width: 930px) {
  .nav-list {
    display: block !important;
  }

}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}











@media screen and (max-width: 1700px){
		
.item,.item iframe{height:350px;}
.glyphicon-chevron-right,.glyphicon-chevron-left{top:260px;}
}
@media screen and (max-width: 1200px){
	   input[type=text] {
    width: 100%;
}	
.item,.item iframe{height:300px;width:100%}
.glyphicon-chevron-right,.glyphicon-chevron-left{top:225px;}
}
@media screen and (max-width: 900px){
		
.item,.item iframe{height:250px;width:100%}
.glyphicon-chevron-right,.glyphicon-chevron-left{top:214px;}
}
@media screen and (max-width: 700px){
		
.item,.item iframe{height:200px;width:100%}
.glyphicon-chevron-right,.glyphicon-chevron-left{top:195px;}
}
@media screen and (max-width: 480px){
		
.item,.item iframe{height:150px;width:100%}
.glyphicon-chevron-right,.glyphicon-chevron-left{top:165px;}
}
@media screen and (max-width: 1700px) {
input[type=text] {
    width: 90px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 10px 12px 35px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.nav-container {
  max-width: 98%;
  margin: 0 auto;
}

}
@media screen and (max-width: 930px){
	   input[type=text] {
    width: 100%;
}
.nav-container {
  max-width: 90%;
  margin: 0 auto;
}
}


